<mat-toolbar color="primary" role="heading">Annonces</mat-toolbar>
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="annonceId">
      <th mat-header-cell *matHeaderCellDef> Annonce id </th>
      <td mat-cell *matCellDef="let element"> {{element.annonceId}} </td>
    </ng-container>

    <ng-container matColumnDef="siren">
      <th mat-header-cell *matHeaderCellDef> Siren </th>
      <td mat-cell *matCellDef="let element"> {{element.siren}} </td>
    </ng-container>

    <ng-container matColumnDef="commentaires">
      <th mat-header-cell *matHeaderCellDef> Annonce </th>
      <td mat-cell *matCellDef="let element"> {{element.commentaires}} </td>
    </ng-container>

    <ng-container matColumnDef="mandataire">
      <th mat-header-cell *matHeaderCellDef> Mandataire </th>
      <td mat-cell *matCellDef="let element"> {{element.mandataire}} </td>
    </ng-container>

    <ng-container matColumnDef="nic">
      <th mat-header-cell *matHeaderCellDef> nic </th>
      <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<router-outlet></router-outlet>
